<section class="sign-up">
    <div class="box">
        <span>Cadastro</span>
        <input type="email" placeholder="E-mail" #userEmail required>
        <input type="password" placeholder="senha" #userName required>
        <button class="register" (click)="authService.SignUp(userEmail.value, userName.value)">Cadastrar</button>
        <div class="lines"><span></span><p>Ou</p><span></span></div>
        <button class="google-button" (click)="authService.GoogleAuth()" ><img src="/assets/images/btn-google-signin.png" alt=""></button>
    </div>
    <p>Já tem uma conta? <button routerLink="/sign-in">Entre</button></p>
</section>
